# Node
node_modules/

# Nuxt build output
.output/
dist/
.nuxt/

# Env files
.env
.env.*

# IDE/editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# Test snapshots
__snapshots__/

# Logs
*.log

# Misc
*.local
*.lock
